<html>
    <head>
        <title>
            {% block title %}{% endblock title %}
        </title>
        {% load static %}
         <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
         <link href="../../static/css/style.css" rel="stylesheet">
    </head>
    <body>
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/track">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/track/create">Create</a></li>
                        <li><a href="/track/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/track/login">Login</a></li>
                    {% endif %}
                </ul>
                </div><!--/.nav-collapse -->
            </div>
            </nav>

            <div class="container">

            <div class="starter-template">
                <h1>Bootstrap starter template</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                {% block body %}{% endblock body %}    
            </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
    </body>
</html>