{% extends "gifttrack/base.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <form action="{% url 'gift_listing' list_id %}" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="name">Gift Description</label>
            {{ form.gift_desc }}
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="name">Gift From</label>
            {{ form.gift_from }}
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="name">Gift Notes</label>
            {{ form.gift_notes }}
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Add Gift
        </button>
    </form>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
            <tr>
            <th>Description</th>  
            <th>From</th>
            <th>Notes</th>
            <th>Added</th>
            </tr>
        </thead>
        <tbody>
        {% if gifts %}
            {% for gift in gifts %}
            <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ gift.gift_desc }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ gift.gift_from }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ gift.gift_notes }}</td>
            <td class="mdl-data-table__cell--non-numeria">{{ gift.save_date }} </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        </table>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>
{% endblock %}