{% extends "gifttrack/base.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <form action="/login/" method="post">
            {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield">
            {{ form.email }}
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            {{ form.password }}
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Login
        </button>
    </form>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>
{% endblock %}