{% extends "gifttrack/base.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="form-group">
    <form action="/login/" method="post">
            {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.email }}
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.password }}
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>
            <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}