{% extends "gifttrack/base.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}

<form action="/user/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="">
        Add Gift List
    </button>
</form>

{% if user_gift_lists %}
<ul>
    {% for gift_list in user_gift_lists %}
        <li>
            {{ gift_list.name }}
            {{ gift_list.description }}
        </li>
    {% endfor %}
{% else %}
    <p>No gifts found!</p>
</ul>
{% endif %}
{% endblock %}