{% extends "gifttrack/base.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}

<div class="form-group">
    <form action="/user/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>

{% if user_gift_lists %}
<ul>
    {% for gift_list in user_gift_lists %}
        <li>{{ gift_list.name }}</li>
        <li>{{ gift_list.save_date }}</li>
    {% endfor %}
{% else %}
    <p>No gifts found!</p>
{% endif %}
{% endblock %}